body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.form-control-group
  margin-bottom: 15px

.form-control-label
  display: block

#content
#tag
#title
  width: 600px